.about{
    color:#fff;
    padding:223px 0 300px;
    background:url(~/assets/img/sparks.png), #101010 linear-gradient(180deg, rgba(29,18,29,1) 0%, rgba(0,0,0,0) 50%);;
    background-repeat: no-repeat;
    background-position: center 100px;
    position: relative;
    @include media('md'){
        padding:180px 0 150px;

    }
    @include media('sm'){
        padding:180px 0 100px;

    }
    @include media('xs'){
        background-image:url(~/assets/img/sparks_mobile.png);
        background-position: center 74px;
        padding:160px 0 81px;
    }
    &::after{
       @include min-media('md'){
        content:'';
        width:100%;
        height:115px;
        position:absolute;
        border-bottom-right-radius: 688px 122px;
        border-bottom-left-radius: 688px 122px;
        bottom: -115px;
        left: 0;
        background:#101010;
       }
    }
    .title{
        margin-bottom: 148px;
        @include media('md'){
            margin-bottom: 80px;
        }
        @include media('sm'){
            margin-bottom: 60px;
        }
        @include media('xs'){
            margin-bottom: 44px;
        }
    }
    &__text{
        font-size: 18px;
        max-width: 800px;
    }
    &__images{
        margin: 100px 0;
        display: flex;
        flex-wrap: wrap;
        @include media('sm'){
            margin: 40px 0;
        }
    }
    &__image-wrapper{
        position: relative;
        flex: 1;
        border-radius:$border-radius;
        overflow: hidden;
        padding-top: 51.7%;
        &:not(:last-child){
            margin-right: 25px;
        }
        @include media('sm'){
            display: none;
        }
       
    }
    &__image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    &-slider__item{
        border-radius:$border-radius;
        overflow: hidden;
        width: 100%;
        @include media('sm'){
            height:520px
        }
        @include media('xs'){
            height:343px
        }
    }
    &-slider{
        @include min-media('sm'){
            display: none;
        }
    }
    &-slider__img{
        min-width: 100%;
    }
    &-slider__naviagation{
        padding: 24px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &-slider__arrow{
        background:none;
        border:none;
        padding: 0;
    }
    &-slider__indicator{
        font-size: 18px;
    }
}

