.callback{
    background-color: #101010;
    padding: 56px 0 243px;
    text-align: center;
    position: relative;
    @include media('md'){
        padding: 40px 0 155px ;
    }
    .title{
        margin-bottom: 47px;
        @include media('md'){
            margin-bottom: 60px;
        }
    }
    .frame{
        margin-bottom: 25px;
        
        &::after{
            background:$main-color;
        }
        @include min-media('xs'){
            width: 300px;
            display: inline-block;
        }
        
    }
    &-card {
        text-align: center;
        padding: 2px;
        display: inline-block;
        border-radius:6px;
        background: linear-gradient(180deg, #9A543D 0%,  #9A543D 40%, #EBC249 80%,#FBF0C6 100% );  
        &__wrapper {
            display: inline-block;
            padding: 80px 60px 56px;
            background: $main-gradient;
            border-radius:6px;
           
            @include media('xs'){
                padding: 40px 21px 48px;
            }
        }
        @include min-media('md'){
            position: absolute;
            z-index: 1;
            left: 50%;
            bottom: -66px;
            transform: translateX(-50%);
        }

        &__text {
            margin-bottom: 60px;
            color: #fff;
            font-size: 18px;
            @include min-media('md'){
                width: 680px;
            }
            @include media('md'){
                width: 600px;
            }
            @include media('sm'){
                margin-bottom: 48px;
                width: unset;
            }
        }
    }
    &-btn__wrapper{
        position: relative;
        .btn{
            position: relative;
            z-index: 1;
            @include media('md'){
                padding: 17px 80px;
            }
            @include media('xs'){
                padding: 17px 0;
                display: block;
            }
           
        }
    }
    &-btn__flag{
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        @include media('sm'){
            width: 230px;
        }
        @include media('xs'){
            width: 202px;
        }
    }
}
