.catalog{
    padding: 170px 0 100px;
    background: #140e12;
    @include media('sm'){
        padding:36px 0 102px ;
    }
    @include min-media('sm'){
        background-image: url(~/assets/img/sparks.png), url(~/assets/img/sparks2.png),linear-gradient(180deg, #140e12 0%, rgba(16,16,16,1) 100%);
        background-repeat: no-repeat no-repeat;
        background-position: center 90px, center bottom;
    }
    .title{
        margin-bottom: 60px;
    }
    .frame{
        margin-bottom: 24px;
        &_down{
            margin-bottom: 0;
        }
    }
    &__btn{
        padding:10px 70px;
        margin-top: auto;
        background-color: #DB3A30;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
        transition: background .4s linear;
        &:hover{
            background: $second-color;
        }
    
    }
}
.catalog-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    @include min-media('lg'){
        height: 453px;
    }
    @include media('sm'){
        flex-direction: row;
    }
    @include media('xs'){
        flex-direction: column;
    }
    &__item{
        position: relative;
        background-size: cover;
        background-repeat:no-repeat;
        display: flex;
        justify-content: center;
        box-shadow: 0px 23px 100px 0px rgba(0, 0, 0, 0.63);
        @include min-media('md'){     
            flex: 1;
        }
        @include media('lg'){
            height: 470px;
        }
        @include media('md'){
            width: 50%;
            height: 390px;
        }
        @include media('sm'){
            align-items:center;
            height: 425px;
        }
        @include media('xs'){
            width: 100%;
            height: 345px;
        }

        &_1{
            background-image: linear-gradient(180deg, rgba(27, 18, 34, 0.9) 14.06%, rgba(143, 0, 255, 0.2) 100%), url(~/assets/img/table_games.jpg);
        }
        &_2{
            background-image: linear-gradient(180deg, rgba(27, 18, 34, 0.9) 14.06%, rgba(143, 0, 255, 0.2) 100%), url(~/assets/img/role_games.jpg);
        }
        &_3{
            background-image: linear-gradient(180deg, rgba(27, 18, 34, 0.9) 14.06%, rgba(143, 0, 255, 0.2) 100%), url(~/assets/img/mtg.jpg);
        }
        &_4{
            background-image: linear-gradient(180deg, rgba(27, 18, 34, 0.9) 14.06%, rgba(143, 0, 255, 0.2) 100%), url(~/assets/img/wargames.jpg);
        }
        &:hover{
            .catalog-wrapper__item_hover{
                visibility: visible;
                top: 0;
            }
        }
    }
    &__title{
        font-weight: 500;
        font-size: 18px;
        margin: 0;
        color:#fff;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        z-index: 1;
        padding-top: 50px;
        @include media('sm'){
            font-size: 32px;
            font-weight: 500;
            padding: 0;
        }

    }
    &__item_hover{
        position: absolute;
        display: flex;
        flex-direction: column;
        flex: 1;
        background: linear-gradient(0deg, #DD9E46, #DD9E46), linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(143, 0, 255, 0.08) 100%);
        box-shadow: 0px 23px 100px rgba(0, 0, 0, 0.63);
        padding: 52px 16px 32px;
        height: 100%;
        width: 100%;
        left: 0;
        top: 24px;
        z-index: 2;
        visibility: hidden;
        transition: all .4s linear;
        @include media('lg'){
        padding: 20px 16px ;
        }
        @include media('md'){
            padding: 52px 16px 32px;
        }
        @include media('sm'){
            padding: 22px 16px 16px;
        }
        @include media('xs'){
            padding: 20px 16px 16px;
        }
        h3{
            font-weight: 500;
            font-size: 18px;
            color:#fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 13px;
            @include media('xs'){
                margin-bottom: 10px;
            }

        }
        p{
            color:#000;
        }
    }
}
