.contacts {
    padding: 150px 0 24px;
    background:#101010;
    background-repeat: no-repeat;
    background-image:url(~/assets/img/sparks_mobile.png);
    background-position: center 74px;
    .title {
        position: relative;
        margin-bottom: 64px;
        &::after{
            content: '';
            width: 100px;
            height: 1px;
            background-color: rgba(255,255,255,.4);
            position: absolute;
            bottom: -32px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
	&__rights {
        text-align: center;
        color: #fff;
        padding-top: 16px;
        border-top: 1px solid rgba(255,255,255,.4);
        margin-bottom: 0;
        font-size: 14px;
	}
   
    &__callback{
        background: $main-gradient;
        text-align: center;
        padding: 16px;
        box-sizing:border-box;
        margin-bottom: 45px;
        border-radius:$border-radius;
        h4{
            text-transform: uppercase;
            color:#fff;
            font-size: 18px;
            font-weight:600;
            margin-bottom: 24px;
        }
        .btn{
            display: block;
            padding: 15px 0;
            background:none;
            border:1px solid $main-color;
            color:$main-color;
            &:not(:last-child){
                margin-bottom: 8px;
            }
        }
    }
}

.contacts-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0 0 25px 0;
	&__item {
        margin-bottom: 15px;
        color:#fff;
	}
	&__link {
        text-decoration: none;
        color:#fff;
        &:hover{
            color:$main-color;
        }
	}
}
.contacts-social {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
    &::after{
        content: '';
        width: 100px;
        height: 1px;
        background-color: rgba(255,255,255,.4);
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__link {
        display: block;
	}
    &__link:not(:last-child){
        margin-right: 30px;
    }
}

