.footer{
    padding: 20px 0 25px;
    background-image:url(~/assets/img/crystal_left.png),url(~/assets/img/crystal_right.png), $main-gradient;
    background-repeat:no-repeat;
    background-position:top left, bottom right, top left;
    @include media('md'){
        display: none;
    }
    &__logo{
        text-align: center;
        margin-bottom: 80px;
    }
    &__info{
        margin-bottom: 70px;
    }
    &__info-contact, &__info-services{
        list-style: none;
        display: inline-block;
        padding: 0;
        li:not(:last-child){
            margin-bottom: 16px;
            
        }
        li{
            color:#fff;
            a{
                color:#fff;
                text-decoration: none;
                transition: color .2s ease-in-out;
                &:hover{
                    color:$main-color;
                }
            }
        } 
    }
    &__info-services{
        padding-left: 130px;
    }
    &-social{
        &__list{
            list-style: none;
            padding: 0;
            margin: 0;   
            li{
                margin-bottom: 16px;
            }
            a{
                text-decoration: none;
                color:#fff;
                display: inline-block;
                transition: color .2s ease-in-out;
                &:hover{
                    color:$main-color;
                }
            }
        }
        &__text{
            color:#fff;
            margin-bottom: 8px;
        }
    }
    &__icons-wrapper{
        margin-bottom: 8px;
    }
    &__icon{
        display: inline-block;
        svg{
            color:#fff;
            transition: color .3s ease-in-out;
            &:hover{
                color:$main-color;
            }
        }
    }
    &__icon:not(:last-child){
        margin-right: 20px;
    }
   
    &__rights{
        text-align: center;
        position: relative;
        padding-top: 37px;
        ::before{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 500px;
            height: 1px;
            background: rgba(255,255,255,.4);

        }
        p{
            display: inline-block;
            color:#fff;
            margin: 0;
        }
    }
    &-about{
        padding: 135px 0 25px;
        background-position-x:left, right,left ;
        background-position-y:115px, bottom ,top ;
    }

}
