// Fonts
@include font-face("Literata", literata-v34-cyrillic_latin-regular);
@include font-face("Literata", literata-v34-cyrillic_latin-500,500);
@include font-face("Literata", literata-v34-cyrillic_latin-700,700);

body{
    font-family: $main-font;
    font-size: $main-font-size;
}
.container{
    max-width: $main-width;
    padding: 0 16px;
}
.title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color:$main-color;
    text-transform: uppercase;
    @include media('md'){
        font-size: 30px;
    }
    @include media('sm'){
        font-size: 28px;
    }
    @include media('xs'){
        font-size: 24px;
    }
}
.btn{
    padding: 15px 112px;
    background: $second-color;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4), inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius:$border-radius;
    color:#fff;
    transition: all .4s ease-in-out;
    font-weight: 500;
    &:hover{
        background: #ed2e22;
        color:#fff;
    }
    &:active{
        background: $second-color;
        color:#fff;
    }

} 
.text-center{
    text-align: center;
}
.centered-md{
    @include media('md'){
        text-align: center;
    }
}

// Form
.form{
    padding: 0 90px;
    @include media('sm'){
        padding: 0 16px;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 32px;
        color:$main-color;
        @include min-media('xs'){
            text-align: center;
       
        }
        @include media('md'){
            margin-bottom: 30px;
        }
        @include media('sm'){
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
    &__info{
        color:#fff;
        text-align: center;
        margin-bottom: 32px;
        p{
            width: 500px;
            margin-bottom: 0;
            @include media('sm'){
                width: 500px;
                display: inline-block;
            }
            @include media('xs'){
                width: 100%;
            }
        }
    }
    &__label{
        display: block;
        margin: 0 0 4px 10px;
        font-size: 14px;
        color:#FFF;
        text-align: left;
    }
    &__inputs-wrapper{
        display: inline-block;
        width: 300px;
    }   
    &__input{
        padding: 12px 16px;
        color:#000;
        font-size: 14px;
        width: 100%;
        border:none;
        background: #fff;
        border-radius:$border-radius;
        &:focus{
            outline: none;
        }
        &-item{
            margin-bottom: 11px;
            position: relative;
            &:nth-child(5){
                margin-bottom: 40px;
            }
        }
    }
    &__textarea{
        width: 100%;
        font-size: 14px;
        padding: 10px 16px;
        min-height: 70px;
        background: #fff;
        border-radius:$border-radius;
        margin-bottom: 24px;
    }
    &__error{
        position: absolute;
        bottom: -16px;
        left: 9px;
        font-size: 12px;
        color:red;
    }
    &__result-message{
        position: absolute;
        bottom: 12px;
        left: 0;
        font-size: 16px;
        &.success{
            color: green;
        }
        &.faild{
            color: red;
        }
    }
    &__btn{
        display: block;
        padding: 8px;
        width: 100%;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
        &-wrapper{
            text-align: center;
        }
    }
}
// Select
.select {
    width: 100%;
}
.selector {
    background: #fff;
    border-radius:$border-radius;
    position: relative;
    z-index: 1;
    &_border{
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }
    &__arrow {
        position: absolute;
        right: 16px;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $main-color;
        transform: rotateZ(0deg) translateY(0px);
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
        cursor: pointer;

        &_rotated {
            transform: rotateZ(180deg) translateY(2px);
        }
    }
    &__label {
        display: block;
        text-align: left;
        padding: 10px 16px;
        font-size: 14px;
        color: #000;
        cursor: pointer;
    }

    &__list {
        width: 100%;
        height: 130px;
        overflow: auto;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        border: 1px solid gainsboro;
        border-bottom-left-radius:$border-radius;
        border-bottom-right-radius:$border-radius;
        position: absolute;
        z-index: 1;
        background: #fff;
        transition: height .4s ease-in-out;
        &_hidden {
            visibility: hidden;
        }
        &_visible {
            visibility: visible;
        }
    }
    &__option {
        padding: 10px 16px;
        color: #000;
        text-align: left;
        cursor: pointer;
        transition: background .3s ease-in-out, color .3s ease-in-out;
        &:hover {
            color: white;
            background: $main-color;
        }
        &_selected {
            background: #eaeaea;
        }
    }
    
}

// Map
.map-wrapper{
    
    background: $main-gradient;
}
.map{
    border-bottom-right-radius: 688px 122px;
    border-bottom-left-radius: 688px 122px;
    overflow: hidden;
    height: 485px;
    position: relative;
    @include media('md'){
        display: none;
    }
}
#map-box {
    height: 500px;
}
.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}


// Modal window
.modal{
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    @include min-media('sm'){
    }
    @include media('sm'){
        z-index: 99999999999;
        position: fixed;
        height: unset;

    }
    &__content{
        position: relative;
        border-radius:$border-radius;
        background: $main-gradient;
        padding: 48px 0px;
        box-sizing:border-box;
        @include media('sm'){
            width: calc(100% - 32px);
        }
        @include media('xs'){
            width: 100%;
        }
    }
    &__btn_close{
        color:$main-color;
        position: absolute;
        right: 40px;
        top: 47px;
        cursor: pointer;
        transition: transform .4s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        @include media('sm'){
            top: 40px;
            right: 16px;
        }
    }
}
// Filter Modal
.filter-modal{
    @include media('xs'){
        display: block;
    }
    .modal__content {
        background: $main-gradient;
        @include min-media('lg'){
            max-width: 950px;
            padding: 60px 128px 40px;
        }
        @include media('lg'){
            padding: 60px 60px 40px;
            max-width: 900px;
        }
        @include media('md'){
            max-width: 780px;
        }
        @include media('sm'){
            padding: 60px 30px 40px;
        }
        @include media('xs'){
            border-radius:0px;
            padding: 45px  16px 32px;
        }
    }
    .modal__btn_close{
        right: 48px;
        top: 65px;
        @include media('sm'){
            top: 40px;
            right: 16px;
        }
    }
}
// Filter Form
.filter{
    &__title{
        text-transform: uppercase;
        color:$main-color;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 78px;
        @include min-media('xs'){
            text-align: center;
       
        }
        @include media('md'){
            margin-bottom: 55px;
        }
        @include media('sm'){
            font-size: 24px;
            margin-bottom: 44px;
        }
    }
    &__item{
        @include media('md'){
            margin-bottom: 30px;
        }
        @include media('sm'){
            margin-bottom: 40px;
        }
    }
    &__category{
        font-weight: 500;
        color:#fff;
        font-size: 18px;
        margin-bottom: 32px;
        @include media('md'){
            margin-bottom: 20px;
        }
        @include media('sm'){
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
    &__group{
        position: relative;
        margin-bottom: 10px;
        @include media('sm'){
            margin-bottom: 16px;
        }
    }
    &__checkbox{
        position: absolute;
        z-index: -999999;
        &:checked + .filter__label::after{
            display: block;
        }
    }
    &__label{
        color:#fff;
        margin-left: 36px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        user-select: none;
        @include media('xs'){
            display: block;
        }
        &::before{
            content: "";
            display: block;
            height: 18px;
            width: 18px;
            border-radius:5px;
            border: 1.5px solid #FFFFFF;
            position: absolute;
            top: 4px;
            left: 7px;
        }
        &::after{
            content: "";
            display: none;
            position: absolute;
            background: url(~/assets/img/checked.png);
            height: 5px;
            width: 8px;
            left: 12px;
            top: 11px;
        }
    }
    &__btn{
        margin-bottom: 25px;
        padding:10px 72px;
        display: inline-block;
        @include media('xs'){
            width: 100%;
            padding: 10px;
        }
        &-wrapper{
            padding-top: 84px;
            text-align: center;
            @include media('md'){
                padding-top: 30px;
            }
            @include media('sm'){
                padding-top: 0px;
            }
        }
        &-clear{
            background:none;
            border:none;
            color:#fff;
            transition: color .3s ease-in-out;
            &:hover{
                color:$main-color;
            }
        }
    }
}

// Frame
.frame{
    position: relative;
    text-align: center;
    &::after{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -1px;
        height: 2px;
        width: 100%;
        background:  linear-gradient(327.29deg, #F1D04A 9.8%, #ECC349 18.86%, #E1A746 32.95%, #DD9E46 41.01%, #D38746 53.09%, #C76B46 65.17%, #4F3131 89.33%, #482C2E 110.47%);
        @include media('sm'){
            background:$main-color;
        }
    }
    &_down{
        &::after{
            top: -1px;
        }
    }
}

// Card Game
.game {
    &__card {
        background-color: $main-color;
        padding: 40px;
        border-radius: $border-radius;
        position: relative;
        margin-bottom: 92px;
        @include media('md'){
            padding: 30px;
        }
        @include media('sm'){
            padding: 26px;
        }
        @include media('xs'){
            padding: 24px;
        }
        &::before{
            content:'';
            display: block;
            position: absolute;
            top: -26px;
            left: 50%;
            transform: translateX(-50%);
            background: url(~/assets/img/arrows_card_up.png);
            width: 102px;
            height: 26px;
            @include media('sm'){
            background: url(~/assets/img/arrows.png);
            top: -32px;
            height: 33px;
            width: 78px;
            }
        }
        &::after{
            content:'';
            display: block;
            position: absolute;
            bottom: -26px;
            left: 50%;
            transform: translateX(-50%);
            background: url(~/assets/img/arrows_card_down.png);
            width: 102px;
            height: 26px;
            @include media('sm'){
                background: url(~/assets/img/arrows_down.png);
                bottom: -32px;
                height: 33px;
                width: 78px;
            }
        }
        &:hover{
            .game__quote_wrapper{
                background: rgba($color: #000000, $alpha: 0.7);
            }
            .game__quote{
                transform: translateY(0px);
            }
        }
    }
    &__img {
        height: 100%;
        padding: 10px 0;
        transition: transform .4s ease-in-out;
        &_wrapper {
            display: flex;
            justify-content: center;
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.42));
            border-radius: $border-radius;
            background:#fff;
            height: 230px;
            margin-bottom: 16px;
            overflow: hidden;
            position: relative;
            &:hover{
                .game__img{
                transform: scale(1.2);
                }
            }
        }
        &_cover{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__quote{
        color:#fff;
        padding: 10px;
        text-align: center;
        transform: translateY(200px);
        transition: transform .5s ease-in-out;
        &_wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-style: italic;
            z-index: 2;
            height: 100%;
            width: 100%;
            transition: background .4s ease-in-out;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        height: 60px;
        text-align: left;
        overflow: hidden;
        a{
            color:#000;
            text-decoration: none;
        }
        @include media('md'){
            margin-bottom: 14px;
        }
        @include media('xs'){
            height: unset;
        }
    }
    &__info{        
        margin-bottom: 14px;
        z-index: 1;
        @include media('md'){
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 16px;
        }
        &_indicators{
            font-size: 0;
        }
        &_indicator{
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #D9D9D9;
            opacity: 0.2;
            border-radius:1px;
            &:not(:last-child){
                margin-right: 2px;
            }
            &.active{
                opacity: 1;
            }
        }
        &_item{
            color: #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 76px;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px rgba(75, 0, 0, 0.31);
            border-radius: 8px;
            &-wrapper{
                display: flex;
            }
            .game__info_indicator:nth-child(2){
                height: 14px;
            }
            .game__info_indicator:nth-child(3){
                height: 17px;
            }
            &:not(:last-child){
                margin-right: 8px;
            }
            svg{
                margin-right: 3px;
            }
            span{
                display: inline-block;
                line-height: 11px;
                transform: translateY(-1px);
            }
        }
        
    }
    &__info_indicator-wrapper{
        width: 54px;
    }
    &__text {
        margin-bottom: 24px;
        height: 144px;
        overflow: hidden;
        text-align: left;
        span{
            display: block;
        }
      
    }
    &__btn {
        padding: 7px;
        display: block;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
        transition: background .3s ease-in-out;
        width: 100%;
    }
}

// Drop down info
.drop-down-info{
    background: #000;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    padding: 20px ;
    font-size: 15px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translate(-50%,-50px);
    z-index: 9999999999999999999;
    transition: all .4s ease-in-out;
    &.show{
        transform: translate(-50%, 0px);
    }
}

// Loader
.loader{
    display: flex;
    &-wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);    
    position: fixed;
    z-index: 999999999999;    
    }
}

// Pagination
.pagination {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
    &__btn {
        border:none;
        background:none;
        color:#fff;
        padding: 9px 15px;
        border-radius:$border-radius;
        &:not(:last-child){
            margin-right: 10px;
        }
        &.active{
            background: $main-color;
        }
        &_nav{
            padding: 0;
        }
    }
   
}

