// Fonts
@include font-face("Literata", literata-v34-cyrillic_latin-regular);
@include font-face("Literata", literata-v34-cyrillic_latin-500,500);
@include font-face("Literata", literata-v34-cyrillic_latin-700,700);

body{
    font-family: $main-font;
    font-size: $main-font-size;
}
.container{
    max-width: $main-width;
}
.title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color:$main-color;
    text-transform: uppercase;
}
.btn{
    padding: 17px 112px;
    background: $second-color;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4), inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius:$border-radius;
    color:#fff;
    transition: all .3s ease-in;
    &:hover{
        background: $second-color;
        color:#fff;
    }
    &:active{
        background: $second-color;
        color:#fff;
    }

} 

// Form
.form{
    background-color: $main-color;
    padding: 60px 80px;
    border-radius:$border-radius;
    h3{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    p{
        font-weight: 600;
        margin-bottom: 24px;
    }   
    &__input{
        width: 100%;
        height: 56px;
        padding: 0 12px;
        border:none;
        border-bottom:1px solid rgba(0,0,0,.42);
        background-color: $main-color;
        &:focus{
            outline: none;
        }
        &-wrapper{
            margin-bottom: 20px;
            position: relative;
            &:nth-child(5){
                margin-bottom: 40px;
            }
        }
    }
    &__textarea{
        width: 100%;
        padding: 18px 12px;
        background-color: $main-color;
        border:1px solid rgba(0,0,0,.42);
        border-radius:calc($border-radius / 2);
        margin-bottom: 48px;
    }
    &__error{
        position: absolute;
        bottom: -22px;
        left: 0;
        font-size: 14px;
        color:red;
    }
    &__result-message{
        position: absolute;
        bottom: 12px;
        left: 0;
        font-size: 16px;
        &.success{
            color: green;
        }
        &.faild{
            color: red;
        }
    }
    &__btn{
        background-color: #DB3A30;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
        transition: background .4s linear;
        &:hover{
            background: $second-color;
        }
        &-wrapper{
            text-align: center;
        }
    }
}

// Map
.map-wrapper{
    
    background: $main-gradient;
}
.map{
    border-bottom-right-radius: 688px 122px;
    border-bottom-left-radius: 688px 122px;
    overflow: hidden;
    height: 485px;
    @include media('md'){
        display: none;
    }
}
.vue-map-container{
    height: 100%;
}

// Modal window
.modal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content{
        margin: 0 25px;
        position: relative;
        background-color: #fff;
        border-radius:$border-radius;
        background-color: $main-color;
        width: 600px;
        padding: 64px 16px 24px;
        box-sizing:border-box;
    }
    &__btn_close{
        position: absolute;
        right: 16px;
        top: 28px;
        cursor: pointer;
    }
}

// Frame
.frame{
    position: relative;
    text-align: center;
    
    &::after{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -1px;
        height: 2px;
        width: 100%;
        background:  linear-gradient(327.29deg, #F1D04A 9.8%, #ECC349 18.86%, #E1A746 32.95%, #DD9E46 41.01%, #D38746 53.09%, #C76B46 65.17%, #4F3131 89.33%, #482C2E 110.47%);
    }
    &.down{
        &::after{
        top: -1px;
        }
        .frame__img{
            transform: rotate(180deg);
        }
    }
}
