.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,.2);
    padding: 16px 0;
    transition: background .4s ease-in-out;
    &_bg{
        background-color: rgba(0,0,0,.8);
        .sub-menu{
            border: 1px solid rgba(221, 158, 70, 0.4);
            border-top: none;
            &::after{
                background-color: rgba(0,0,0,.8);
            }
        }
    }
    .container, .nav{
            height: 100%;
        }
    @include media('sm'){
        padding: 8px 0 0;
        align-items:center;
        height: 56px;
        transition: all 0.7s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
        overflow: hidden;

    }
    &.menu-mobile-opened {
        height: 100%;
        background-color:#101010;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
        .burger-container {
            transform: rotate(90deg);
            #burger {
                .bar {
                    transition: transform 0.4s $cubic;
                    transition-delay: 0.2s;
                    width: 36px;
                    img{
                        width: 100%;
                    }
                    &.bar-top {
                        transform: translate(-5px , 6px) rotate(45deg);
                    }
                    &.bar-mdl {
                        visibility: hidden;
                    }
                    &.bar-btm{
                        transform: translate(-5px , -6px) rotate(-45deg);
                    }
                }
            }
        }
        .menu-mobile {
            .menu-mobile__item {
                transform: scale(1) translateY(0px);
                opacity: 1;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.07 * $i+0.2}s;
                    }
                }
            }
        }
        & .menu-mobile__bottom{
            opacity: 1;
            
        }
    }
}
.nav{
    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    &__logo{
        width: 170px;
        transition: width .5s ease-in;
        @include media('lg'){
            max-width: 170px;
        }
        @include media('md'){
            max-width: 160px;
        }
        @include media('sm'){
            max-width: 117px;
        }
    }
}

// Menu desktop
.menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    @include media('sm'){
        display: none;
    }    
    &__item{
        position: relative;
        &:hover{
            .sub-menu{
                display: block;
            }
        }
        &:not(:last-child){
            margin-right: 56px;
            @include media('lg'){
                margin-right: 40px;
    
            }
            @include media('md'){
            margin-right: 30px;

            }
           
        }
    } 
    &__link{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        cursor: pointer;
        color:$main-color;
        transition: color .3s ease-in;
        &:hover{
            color:$second-color;
        }
        &_sub-menu{
            position: relative;
            display: flex;
            align-items: center;
            &:hover{
                &::after{
                    border-top: 5px solid $second-color;
                }
            }
            &::after{
                content: '';
                margin-top: 2px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $main-color;
                margin-left: 11px;
                transition: border .3s ease-in;
            }
        }
    }
    
}
// Sub menu desktop
.sub-menu{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 10px 15px 15px;
    width: 165px;
    display: none;
    left: -16px;
    border:1px solid rgba($main-color, 0.2);
    border-top:none;
    .router-link-active{
        color:$main-color;
        font-weight: 500;
    }
    &::after{
        content:'';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: calc(100% - 33px);
        background-color: rgba(#000, .2);
        left: 0;
        bottom: 0;
        transition: background .4s ease-in-out;
        @include media('md'){
            height: calc(100% - 31px);
        }

    }
    &__item:not(:last-child){
        margin-bottom: 10px;
       
    }
    &__link{
        display: block;
        text-transform: uppercase;
        color:rgba($main-color,0.8);
        text-decoration: none;
        font-size: 15px;
        transition: color .3s ease-in;
        &:hover{
            color:$second-color;
        }
    }
}

// Burger button
.burger-container {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s $cubic;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    @include min-media('sm'){
        display: none;
    }
    #burger {
        width: 30px;
        height: 8px;
        position: relative;
        display: block;
        margin: -9px auto 0;
        top: 50%;
        .bar {
            display: flex;
            position: relative;
            transition: translateY 0.3s $cubic, rotate 0.3s $cubic, visibility .1s $cubic;
            transition-delay: 0s;
            &.bar-top {
                transform: translateY(-5px) rotate(0deg);
            } 
            &.bar-mdl {
                transform: translateY(0px) rotate(0deg);
            }
            &.bar-btm {
                transform: translateY(5px) rotate(0deg);
            }
        }
    }
}

// Mobil menu
.menu-mobile {
    position: relative;
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding:20% 0 0;
    &__wrapper{
        position: relative;
        display: flex;
        height: calc(100% - 40px);
        width: 100%;
        &>div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        @include min-media('sm'){
            display: none;
        }
    }
    &__item {
        padding-bottom: 13px;
        margin-bottom: 13px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;
        &:not(:last-child){
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
        @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
                transition-delay: #{0.56 - ($i * 0.07)}s;
            }
        }
        overflow: hidden;
    }
    &__link {
        display: block;
        text-transform: uppercase;
        position: relative;
        color: #FFF;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        background: none;
        border:none;
        &:hover{
            color:$main-color;
        }
    }
    &__bottom{
        background: $main-gradient;
        text-align: center;
        padding: 40px 37px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 1s ease-in;
        margin: 0 -16px; 
        box-sizing:border-box;
        h4{
            text-transform: uppercase;
            color:#fff;
            font-size: 18px;
            font-weight:600;
            margin-bottom: 24px;
        }
        .btn{
            display: block;
            padding: 15px 0;
            background:none;
            border:1px solid $main-color;
            color:$main-color;
            &:not(:last-child){
                margin-bottom: 24px;
            }
        }
    }
}

// Sub mobile menu
.sub-menu-mobile{
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    padding-top: 3px;
    transition: all .4s ease-in-out, transform .5s ease-in-out ;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    visibility: hidden;
    transform: translateY(152px);
    .router-link-active{
        color:$main-color;
        font-weight: 500;
    }
    &__open{
        margin-top: 16px;
        visibility: visible;
        @include media('sm'){
            max-height: 1000px;
            transform: translateY(0px);

        }
    }
    &__item{
        display: block;
        margin: 0 20px;
        @include media('sm'){
            padding: 10px 0px;
        }
        @include media('xs'){
            padding: 6px 0px;
        }
        &:not(:last-child){
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
    &__link{
        text-transform: uppercase;
        text-decoration: none;
        color:#fff;
        display: block;
        &:hover{
            color:$second-color;
        }
    }

}
