@mixin font-face($font-family, $font-file-name, $font-weight: 400, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        src: local(''),
        url('#{$path-fonts}#{$font-file-name}.woff2') format('woff2'),
        url('#{$path-fonts}#{$font-file-name}.woff') format('woff');
    }
}
@mixin visuality-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin media($point) {
    @media screen and (max-width: map-get($beack-points, $point)) {
        @content;
    }
}

@mixin min-media($point) {
    @media screen and (min-width:(map-get($beack-points, $point)+1)) {
        @content;
    }
}
