// Colors
$main-color:#DD9E46;
$second-color:#EB4747;
$main-gradient:linear-gradient(269.99deg, #35131F 0%, #641739 46.87%, #361420 99.98%);


// Fonts 
$main-font: 'Literata';
$main-font-size:16px;
$path-fonts: '../fonts/';

// Global
$main-width: 1185px;
$border-radius:8px;

// Sizes breack-points
$beack-points: ("xl":1430px,
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px);
